<h1>Liste des dons</h1>
<div class="col-left">
  <div class="card welcome-card">
    <div class="card-head welcome-head-container">
      <div class="col-left2">
        Vos dons
        <p>My heart - Don</p>
      </div>
      <div class="col-right2">
        <img src="docta2.png">
      </div>
    </div>
    <div class="card-body welcome-body-container">
      <div class="col-left3">
        <div class="card">
          <div class="para">Vos dons que vous nous envoyer pour soutenir le projet</div>
        </div>
      </div>
    </div>
  </div>
</div>
